body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--main-bg);
  height: 100vh;
}

header {
  flex-grow: 1;
  display: flex;
  color: var(--main-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
}

.rgbDisplayer {
  font-family: "Fira Code", monospace;
  font-size: 8rem;
  margin: 10px 0 10px 0;
}

header h2 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin: 0;
  font-weight: 300;
}

header h2:first-child {
  padding-top: 10px;
}

header h2:last-child {
  padding-bottom: 10px;
}

.rgbDisplayer {
  font-family: "Fira Code", monospace;
  font-size: 3rem;
  margin: 10px 0 10px 0;
}

#hearts img {
  margin: 0.5rem 0.2rem;
  width: 1.7rem;
}

nav {
  display: flex;
  box-shadow: var(--main-shadow);
  justify-content: center;
  background-color: var(--navbar-bg);
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  height: 4em;
  display: flex;
  align-items: center;
}

ul li:first-child {
  margin: 0 2rem;
}

ul li:last-child {
  margin: 0 2rem;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

a img {
  margin-left: 0.5rem;
  width: 2rem;
}

#points {
  font-size: 2rem;
  margin: 0 3rem;
}

.active-link {
  background-color: var(--header-bg);
  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

main {
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helper {
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: var(--primary-green);
}
.popup .content {
  max-height: 60%;
  overflow: auto;
}

#new-game-click {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 900px) {
  ul {
    width: 530px;
  }

  .container {
    width: 100%;
  }

  ul li:first-child {
    margin: 0;
  }

  ul li:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 770px) {
  .text-hide {
    display: none;
  }
  li img {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .rgbDisplayer {
    font-size: 2.5rem;
  }

  ul {
    width: 360px;
  }

  #points {
    margin: 0 1.5rem 0 0;
  }

  .popup {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .rgbDisplayer {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
  }
}
